header {
  height: 100%;
  /* padding-top: 7rem; */
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  min-height: 50rem;
  width: 100%;
  position: relative;
  background-image: url(../../../public/AgrEngineer.jpg);
  background-size: cover; /* Hace que la imagen se expanda para cubrir completamente el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del contenedor */
  opacity: 0.78; /* Opacidad del 22% (100% - 22% = 78%) */
}

.header__container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* Altura del gradiente, ajusta según tu diseño */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0b3d06); /* Gradiente blanco transparente a blanco sólido */
  pointer-events: none; /* Permite que los eventos pasen a través del pseudo-elemento */
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px){
  header {
    height: 68vh;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px){
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}